<body>
    <h3>Click a button above to pick your league</h3>

    <section>
        <%- include('partials/sports.ejs') %>
    </section> 


</body>


<!-- <script>
    const data = console.log('Sports Data', data);
</script> -->

