<h1>
    Main page
</h1>

<section>
    <%- include('partials/team-games.ejs') %>
</section> 

<section>
    <%- include('partials/live-team-games.ejs') %>
</section> 

<section>
    <%- include('partials/all-live-games.ejs') %>
</section> 

<section>
    <%- include('partials/sports.ejs') %>
</section> 