<h1>
    Main page
</h1>

<!-- <section>
    <%- include('partials/team-partials/live-team-games.ejs') %>
</section> -->

<section>
    <%- include('partials/game-partials/upcoming-games.ejs') %>
</section> 

<!-- <section>
    <%- include('partials/all-live-games.ejs') %>
</section>  -->
