
<div class="main-title">
    <h2>Looks for Soccer Games? We got you covered!</h2>
</div>


<section>
    <%- include('partials/team-partials/live-team-games.ejs') %>
</section>

<section> 
    <%- include('partials/game-partials/games-today.ejs') %>
</section> 

<section>
    <%- include('partials/game-partials/upcoming-games.ejs') %>
</section> 

<section>
    <%- include('partials/all-live-games.ejs') %>
</section> 
